name: Deploy Snake

on:
  push:
    branches:
      - main
    paths:
      - 'Ministeam/Snake/**'
  workflow_dispatch:

jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install frontend dependencies
        run: |
          cd Snake/snake
          npm install

      - name: Build React app
        run: | 
          cd Snake/snake
          npm run build

      - name: Deploy to Azure Static Web App
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.SWA_SNAKE }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: upload
          app_location: Snake/snake
          output_location: dist