name: Deploy Mini Steam

on:
  push:
    branches:
      - main
    paths:
      - 'Ministeam/Ministeam/**'
  workflow_dispatch:

jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore and publish
        run: |
          dotnet restore MiniSteam/MiniSteam.csproj
          dotnet publish MiniSteam/MiniSteam.csproj -c Release -o publish

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Zip publish output and deploy to App Service
        run: |
          cd publish
          zip -r ../publish.zip .
          cd ..
          az account set --subscription 4d6302be-05c4-4bb7-b94f-2805445f5d1c
          az webapp deployment source config-zip --resource-group ${{ vars.RESOURCE_GROUP }} --name ${{ vars.APP_NAME }} --src publish.zip